@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: #c5beb6;
  background-image: linear-gradient(to right, #c5beb6, #c5beb6);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.kitchen {
  height: 93vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .kitchen {
    flex-direction: column-reverse;
  }
  .error {
    margin-top: 50px;
  }
}

.chef {
  height: 100px;
  display: grid;
  place-content: center;
}

.chef-hand {
  display: flex;
  /*   width: 50%; */
}

.chef-hand input {
  appearance: none;
  border: 0;
  outline: 0;
  height: 40px;
  background-color: white;
  padding: 0 10px;
  min-width: 350px;
}

.chef-hand button {
  appearance: none;
  border: 0;
  outline: 0;
  height: 40px;
  background-color: white;
  padding: 0 10px;
  cursor: pointer;
}

.dishes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(min-content, max-content);
  gap: 10px;
  padding: 10px;
  padding-bottom: 50px;
  height: calc(100% - 100px);
  overflow: hidden;
  overflow-y: auto;
  scrollbar-color: #0f0f0f transparent;
  scrollbar-width: thin;
}

.dishes::-webkit-scrollbar-track {
  background-color: transparent;
}

.dishes::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

.dishes::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
}

.dish {
  animation: anipoof 1s;
  box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.dish img {
  display: block;
  border-bottom: 1px dashed #fff;
  transition: all 0.2s ease;
}

.dish:hover img {
  transform: scale(1.05);
}

.dish-detail {
  z-index: 1;
  background-color: #fff;
  /*   height: 70px; */
  padding: 5px 7px 5px 7px;
  font-size: 14px;
}

.dish-area {
  font-weight: bold;
  margin-bottom: 3px;
}

.dish-title {
  height: 35px;
  margin-bottom: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dish-video {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease;
}

.dish-video:hover {
  color: red;
}

.dish-video i {
  margin-left: 5px;
}

.error {
  grid-column: 1/-1;
  text-align: center;
  font-size: 24px;
  animation: anipoof 0.5s;
}

/* Keyframes  */

@keyframes anipoof {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
